.mi-elemento {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation: mi-animacion 2s ease infinite;
}

.mi-imagen {
    width: 100px;
    height: 100px;
    animation: animacion-imagen 2s ease-in-out infinite alternate;
}

@keyframes mi-animacion {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

@keyframes animacion-imagen {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}
/* Media query para tamaños de pantalla de 768px a 1023px (Tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
    .mi-elemento,
    .mi-imagen {
        width: 120%;
        height: auto;
    }
}

/* Media query para tamaños de pantalla de 480px a 767px (Dispositivos móviles en orientación horizontal) */
@media (min-width: 480px) and (max-width: 767px) {
    .mi-elemento,
    .mi-imagen {
        width: 120%;
        height: auto;
    }
}

/* Media query para tamaños de pantalla de hasta 479px (Dispositivos móviles en orientación vertical) */
@media (max-width: 479px) {
    .mi-elemento,
    .mi-imagen {
        width: 120%;
        height: auto;
    }
}